
<div class="footer-padding">
  <div class="footer">
    <p>@Copyrights 2023: Earnings Disclaimer: That Nexus Gaming Blog is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com. Amazon, the Amazon logo, AmazonSupply, and the AmazonSupply logo are trademarks of Amazon.com, Inc. or its affiliates.
      Read more https://www.thatvideogameblog.com/</p>
  </div>
</div>
</body>
</html>
