<%-include("partials/header") %>

<div class="about-section">
  <img src="/images/Welcome-img.jpg" alt="" class="about-section-img" />
  <div class="about-section-inner">
    <h1>Welcome fellow Gamers</h1>
    <br />
    <p>
      Looking for a place where you can find everything? Whether it is upcoming
      games or latest developments in gaming industry??<br />
      We got you covered. Our team here will provide you with everything at one
      place without for you to go anywhere else wasting your precious time on
      finding useful updates.
    </p>
    <br />
  </div>
  <div class="about-founder">
    <div class="avatar-img-section">
      <img src="/images/avatar.jpg" alt="" class="avatar-img" />
    </div>
    <div class="founder-details">
      <h4>ISHAAN RAWAT</h4>
      <p>
        Founder of Nexus Gaming <br />
        Currently a Student at Guru Tegh Bahadur Institute of Technology
      </p>
    </div>
  </div>
</div>

<div class="about-founder-content">
  <h4>About Founder</h4>
  <br />
  <p>
    I was summoned into this pitiful mortal realm in 1991 and raised by
    marauding wolves. Like most younglings I had grand ambitions toward world
    domination, but as I matured and came to understand more about this odd
    realm I realised that ruling it would likely be tedious and involve far too
    much paperwork. And so I tempered by dreams to just playing a lot of games
    and trying not to punch every human I came across. Thus far I achieved one
    of those dreams.
  </p>
  <p>
    Something clearly went wrong with my summoning because I came into this
    world with Cystic Fibrosis. It’s a bit of a pain in the arse. Due to this my
    furry parents made the choice to home-school me themselves because schools
    are filled with viruses, and I’m a tad more vulnerable to them. Every time I
    get one I add a bit more scarring to my lungs, although I hear chicks dig
    scars, so maybe that’s a good thing. Plus, at the tender age of 5 I was
    still attempting to eat most humans I came across and my parents didn’t
    fancy dealing with all that faff.
  </p>
</div>

<%-include("partials/footer") %>
