<%-include("partials/header") %> 

<div class="container-fluid">
    <div class="post-section">  
        <div class="post-title">
            <p class="post-heading"> Best of Games 2022 from IGN India: God of War: Ragnarok, Elden Ring and Call of Duty: MW2 were the Highlights of the year </p>
            <span>BY: IGN INDIA </span> <span style="margin-left:20px">PUBLISHED: DEC 29, 2022 </span>
        </div>
    
        <div class="post-body">
            <div class="highlight-body">
                <div class="upper-highlight">
                    <img src="/images/highlights/ign-ind.jpg" alt="" class="highlight-img-top">
                </div>
                <div class="lower-highlight">
                    <span class="para-1">It is that time of the year when we summarize all the best games that came out in 2022. It was a fantastic year for games as we received a range of titles, including some top-of-the-line flagship games across all platforms. <br><br> It was not only a good year for console and PC players, but the mobile gaming players also got some good games.</span>
                    <p class="para-2">2022 saw some monumental events in gaming. Players saw games like Modern Warfare 2 and God of War: Ragnarok smashing all the records set by previous games in their respective franchises. </p>
                </div>
            </div>
                <p class="para-3">We saw many Indie games taking on the biggest flagship titles of the year. The Best games of 2022 from IGN India list contains games that we felt were the best out of all the games we reviewed in 2022. Some of you might agree with the games in this list, and some might not. Regardless, this can also serve as a recommendation or discovery resource for gamers. Now, let’s get straight into it.</p>

            <div class="post-img-middle-section">
                <img src="" alt="" class="post-img-middle">
                <img src="" alt="" class="post-img-middle">
            </div>

            <!-- <p class="para-3">Mirage’s announcement shows that the time is right to start retreading old ground in the series. Fans have been receptive to Mirage’s first trailer, and many are happy to see the series shed its RPG gameplay for at least one future entry. What’s more, Assassin’s Creed has always had a treasure trove of lore that is impossible to get through in only one game, so the fact that Ubisoft is going back and digging deeper into some of its most iconic time periods is great for fans of the franchise who love learning about this type of stuff. But there is no reason Ubisoft should only make one of these “homage games” and stop there when there is so much lore still left to explore, particularly in the Assassin’s Creed 2 era and how it relates to Spain.</p>
            <p class="para-4">For a country that played such a significant role in the world throughout the events of Assassin’s Creed 2 and Brotherhood, Spain has undoubtedly received the short end of the stick as far as mainline entry games are concerned. For example, Ezio briefly had ties with the Spanish Brotherhood of Assassins during the events of Assassin’s Creed 2: Discovery, but it is still very much an Ezio game. And while the Assassin’s Creed movie did take place in Spain, Ubisoft has mostly buried the project and claimed the game’s lore overwrites that of the film. All this is to say that an Assassin’s Creed Mirage-style game using Spain as a fresh-but-familiar setting while paying tribute to Assassin’s Creed 2 makes sense.</p>
            <p class="para-5">Spain’s importance could also make it one of the best places for an Assassin’s Creed game set later in the timeline and into the modern era. Further down the line, the Spanish Brotherhood of Assassins found itself active during the Spanish Civil War of the 1930s and was host to one of the most extraordinary Assassins in the whole series: Ignacio Cardona, a Spanish Anarchist and Republican. During the Spanish Civil War, the Spanish Brotherhood and Ignacio banded together to locate the Koh-i-Noor, a powerful Piece of Eden capable of finding every other missing Piece of Eden in existence. While Ignacio’s story has only been explored in the Assassin’s Creed: Uprising comics, he could take the franchise in an exciting new direction while fitting into the homage off-shoot mold that Assassin’s Creed Mirage is forming.</p> -->
        </div>

        <div class="highlight-heading-section">
            <p class="post-heading"> 1. God Of War: Ragnarok </p>
        </div>
        <img src="/images/highlights/hl-gow.jpg" alt="" class="highlight-img-middle">
        <div class="highlight-body">
            <p>God of War: Ragnarok was easily the epitome of gaming in 2022. Players finally received an end to the Norse chapter of Kratos’ journey, along with everything they longed for in the previous game. One of the main complaints from the 2018 title was that boss battles were repetitive. Santa Monica Studios addressed this complaint in the best manner possible by providing players with an extensive roster of bosses. They could take on these bosses while playing the story and more after the main story concluded.
                <br><br>
                Players got a fantastic narrative story that saw significant development in the character of Kratos. Visually, the game had, hands down, the best graphics of 2022. Implementing the DualSense features brought the story “almost true to life” with this additional dimension. On top of that, the game had a wonderful array of supporting characters that had their own motivations, goals, follies, and growth to take care of. God of War: Ragnarok is a game that shouldn’t be missed out on.</p>
        </div>

        <div class="highlight-heading-section">
            <p class="post-heading"> 2. Elden Ring </p>
        </div>
        <img src="/images/highlights/hl-eldenring.jpg" alt="" class="highlight-img-middle">
        <div class="highlight-body">
            <p>Elden Ring is a title that has brought inspiration to all future RPG titles. FromSoftware outdid itself by bringing its signature combat styles and grueling gameplay to a fantastical, living, and breathing open world. Players do not have to follow one single path in this game and are free to go about it according to their whims and fancies. Elden Ring was also awarded Game of the Year at The Game Awards 2022.
                <br><br>
                More than consoles, the title has shined brightly for PC players because of the modding community. Players who try out the game now will realize that their journey will be full of exciting and rewarding moments. They will also be left dumbfounded by all that takes place on their screen. Elden Ring is a game that needs dedication. Once you have put in the required effort, you’re in for one of the most beautiful journeys in gaming.</p>
        </div>

        <div class="highlight-heading-section">
            <p class="post-heading"> 3. Horizon Forbidden West </p>
        </div>
        <img src="/images/highlights/hl-horizon.jpg" alt="" class="highlight-img-middle">
        <div class="highlight-body">
            <p>Next on the list is Aloy’s latest adventure into the Forbidden West. First, Horizon Forbidden West is a beautiful title, where you get to experience a world that was beyond your reach in the previous title. This means the ability to explore this vast world filled with new settlements, side quests, and dangers. Developers have built on the already exciting story of Aloy and mixed it up with more high-intensity combat with a new array of bloodthirsty machines.
                <br><br>
                The writers have created some of the best characters you will interact with. These interactions help the player unravel great mysteries while creating some beautiful bonds along the way. Additionally, the combat has never been better as the players can now strategize and plan their approach according to the type of enemy they are facing. These strategies include opting for stealth, all-out aggression, or a little bit of both. All of this takes place with some of the best cinematics and score you will get to see in 2022.</p>
        </div>

        <div class="highlight-heading-section">
            <p class="post-heading"> 4. Call Of Duty Modern Warfare 2 </p>
        </div>
        <img src="/images/highlights/hl-mw2.jpg" alt="" class="highlight-img-middle">
        <div class="highlight-body">
            <p>Next comes Activision’s most ambitious title to date, Call of Duty: Modern Warfare 2, and they were equally rewarded for their efforts. The new title broke all the records set by the previous games in the franchise and then some. Call of Duty: Modern Warfare 2 has substantially improved the multiplayer shooter genre, and the title was awarded the Best Multiplayer Game of the Year at The Game Awards 2022.
                <br><br>
                Modern Warfare 2 has provided the players with a title where they can escape reality and spend hours on end bringing down innumerable squads of opponents with their friends online. This comes with a gigantic hit of nostalgia as we see the return of the franchise’s favorite character, ‘Ghost’, and the entire Task Force 141 Squad with a new mission. When it comes to the multiplayer shooter genre, MWII is a no-brainer.</p>
        </div>

        <div class="highlight-heading-section">
            <p class="post-heading"> 5. Genshin Impact </p>
        </div>
        <img src="/images/highlights/hl-genshin.jpg" alt="" class="highlight-img-middle">
        <div class="highlight-body">
            <p>Genshin Impact is a free-to-play action-adventure RPG where you play a vague and mysterious “traveler” from another world who arrives in the land of Teyvat before being attacked by a sorceress or God or...something, and your twin is captured. After waking up on a beach at level one and with zero loot, you set off on a quest to find your lost sibling that involves a whole lot of picking fruit, crafting items, and fighting deities, but surprisingly little in the way of actually searching for your twin.
                <br><br>
                Players got a fantastic narrative story that saw significant development in the character of Kratos. Visually, the game had, hands down, the best graphics of 2022. Implementing the DualSense features brought the story “almost true to life” with this additional dimension. On top of that, the game had a wonderful array of supporting characters that had their own motivations, goals, follies, and growth to take care of. God of War: Ragnarok is a game that shouldn’t be missed out on.
                <br><br>
                Genshin Impact can add another accolade to their already impressive resume. The PlayStation Partner Awards 2022 has conferred them with the Grand Award. For those who don't know, this prize is given to two games with the best global sales from October 2021 to September 2022.
                <br>
                Google Play Awards 2022 named Genshin Impact Best Ongoing Game. Google announced the winners of its Google Play Best of 2022 Awards, and Genshin Impact won for Best Ongoing Game.
            </p>
         </div>




    </div>
</div>


<%-include("partials/footer")  %> 